# vscode
.devcontainer/
.vscode/
.hintrc

# Typescript
src/*.ts
tsconfig.*

# node and npm
node_modules/
/*.tgz

# Github and Git
.github/
.git*

# Docker
.dockerignore
*docker-compose.yaml
*docker-compose.yml
*Dockerfile*
*dockerfile*

# Project
/apt*.yml
/apt*.yaml
/apt*.json
/example
.repoTest/
thunder-tests
*.deb
*.key
*.pem
*.gpg